@{
    ViewBag.Title = "What is Milwaukee Waste Management?";
}
<div class="row top-buffer">
    <h2>@ViewBag.Title.</h2>
</div>
<br />
<div class="row">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in lacus quis ligula placerat porta nec eleifend tortor. Phasellus vulputate dui tellus, eget lobortis massa pharetra eget. Vivamus laoreet volutpat ante et interdum. Maecenas erat ligula, vestibulum tristique consectetur at, suscipit non nisi. Pellentesque condimentum pellentesque urna, rutrum euismod nisi lacinia et. Nunc neque mauris, eleifend a augue vel, consequat commodo justo. Nullam sit amet eros gravida, rhoncus arcu et, ultricies diam. Quisque orci ante, mollis vel nulla non, rhoncus egestas ex. Nullam sit amet ultricies purus, non rhoncus odio. Morbi placerat ornare augue id dignissim. Proin dignissim lobortis turpis. Etiam varius, tortor non placerat fringilla, mi nibh porta sem, a maximus leo eros ut eros. Praesent non dapibus arcu, vitae tincidunt augue. Mauris ornare varius nunc ac ullamcorper.

        Sed fermentum arcu nulla, ut laoreet mi finibus nec. Nam id aliquet ante. Nam sit amet iaculis purus, non rhoncus purus. Fusce tempus sapien eget dui elementum fermentum. Etiam finibus metus eu nisi euismod, nec euismod tellus pulvinar. Phasellus at dictum purus, quis scelerisque augue. Maecenas mattis mollis risus non tempor. Morbi vel nisi eu erat luctus consequat. Fusce ornare neque quam, vel lobortis arcu sodales sit amet. Morbi tempus lectus sit amet sem ornare, in sollicitudin leo blandit. Quisque euismod at arcu quis lobortis. Curabitur sed tortor nunc.

    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in lacus quis ligula placerat porta nec eleifend tortor. Phasellus vulputate dui tellus, eget lobortis massa pharetra eget. Vivamus laoreet volutpat ante et interdum. Maecenas erat ligula, vestibulum tristique consectetur at, suscipit non nisi. Pellentesque condimentum pellentesque urna, rutrum euismod nisi lacinia et. Nunc neque mauris, eleifend a augue vel, consequat commodo justo. Nullam sit amet eros gravida, rhoncus arcu et, ultricies diam. Quisque orci ante, mollis vel nulla non, rhoncus egestas ex. Nullam sit amet ultricies purus, non rhoncus odio. Morbi placerat ornare augue id dignissim. Proin dignissim lobortis turpis. Etiam varius, tortor non placerat fringilla, mi nibh porta sem, a maximus leo eros ut eros. Praesent non dapibus arcu, vitae tincidunt augue. Mauris ornare varius nunc ac ullamcorper.

        Sed fermentum arcu nulla, ut laoreet mi finibus nec. Nam id aliquet ante. Nam sit amet iaculis purus, non rhoncus purus. Fusce tempus sapien eget dui elementum fermentum. Etiam finibus metus eu nisi euismod, nec euismod tellus pulvinar. Phasellus at dictum purus, quis scelerisque augue. Maecenas mattis mollis risus non tempor. Morbi vel nisi eu erat luctus consequat. Fusce ornare neque quam, vel lobortis arcu sodales sit amet. Morbi tempus lectus sit amet sem ornare, in sollicitudin leo blandit. Quisque euismod at arcu quis lobortis. Curabitur sed tortor nunc.
    </p>
</div>