
@{
    ViewBag.Title = "Contact Milwaukee Waste Management";
}
<div class="row top-buffer">
    <h2>@ViewBag.Title</h2>
</div>
<div class="row">
    <h3>@ViewBag.Message</h3>
    <address>
        123 Main St.<br />
        MIlwaukee, WI 53201<br />
        <abbr title="Phone">P:</abbr>
        555.555.5555
    </address>
</div>
<div class="row bottom-buffer">
    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@mwm.com</a><br />
        <strong>Billing:</strong> <a href="mailto:Marketing@example.com">Billing@mwm.com</a>
    </address>
</div>
<div class="row top-buffer" id="map"></div>